{% extends 'main/base.html' %}

{% block title %}
Интересные факты
{% endblock %}

{% block content %}
    <h1>Истории спасения</h1>
    <h4>Свинья спасла женщину во время сердечного приступа</h4>
    {% load static %}
    <img src="{% static 'main/images/zv16.jpg' %}" width="1000" class="img-thumbnail">
    <p>В 1998 году у Джо Энн Альцман (Jo Ann Altsman) во время отпуска в Пенсильвании случился сердечный приступ. Лулу (Lulu), свинья её дочери, выбежала из дома и легла прямо на дороге, чтобы остановить движение.

Свинья неустанно пыталась помочь женщине: она возвращалась домой, чтобы проверить, как там Джо Энн, а затем бежала обратно на улицу за помощью. В конце концов, ей удалось привлечь к себе внимание: один мужчина остановил машину и пошёл вслед за свиньёй в дом, где обнаружил лежащую на полу женщину и, поняв, что случилось, вызвал "скорую".
</p>
    <h4>Кот спас мужчину во время пожара в доме</h4>
    <img src="{% static 'main/images/zv17.jpg' %}" width="1000" class="img-thumbnail">
    <p>Это случилось в Австралии в 2014 году. Крейг Дживс (Craig Jeeves) спал у себя дома, когда начался пожар. Мужчина, вероятно, умер бы, если б не его полосатая кошка Салли (Sally), которая прыгнула ему на голову и стала кричать.

Дживс проснулся как раз вовремя, чтобы успеть выбраться из дома, который вскоре уничтожило пожаром. Мужчина и его отважная кошка, которую он взял из приюта, спаслись и не пострадали.
</p>
    <h4>Собака спасла своего владельца от удушения</h4>
    <img src="{% static 'main/images/zv18.jpg' %}" width="1000" class="img-thumbnail">
    <p>Золотистый ретривер по кличке Тоби (Toby) в 2007 году получил ежегодную премию Американского общества по предотвращению жестокого обращения с животными (American Society for the Prevention of Cruelty to Animals) и звание "Собака года" за спасение своей хозяйки Дебби Паркхёрст (Debbie Parkhurst), которая чуть не задохнулась от яблока у себя дома.

Когда собака увидела, что женщина задыхается, она всем своим весом прыгнула ей на грудь, благодаря чему застрявший кусок пищи выскочил из горла.

</p>
<hr>
<iframe width="900" height="450" src="https://www.youtube.com/embed/DFYAQjR3b_Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



{% endblock %}