{% extends 'main/base.html' %}

{% block title %}
Самые популярные породы собак для детей
{% endblock %}

{% block content %}
    <h1>Зачем мы заводим домашних животных?</h1>
    <h5>Какая от них польза и почему мы не можем перед ними устоять?</h5>
    {% load static %}
    <img src="{% static 'main/images/zv12.jpg' %}" width="1000" class="img-thumbnail">
    <p>Домашние питомцы не всегда осознанно появляются в доме, но всегда очень плотно вливаются в нашу жизнь и становятся ее неотъемлемой частью. Многие искренне считают питомцев полноценными членами семьи. Люди заводят питомцев для собственного душевного равновесия и психического здоровья. Животные сами по себе являются сильнейшим антистрессом. Они прекрасные друзья и компаньоны.
       Питомцы приносят много радости: становятся спасением для одиноких, являются центром притяжения для всех членов семьи. Общеизвестно, что они еще и оказывают терапевтическое и даже исцеляющее воздействие на своих хозяев: предотвращают развитие депрессии, снимают стресс, подавляют тревожность, нормализуют давление. Вокруг кошек витают даже немного мистические представления: считается, что они инстинктивно выбирают для лежания больное место на теле хозяина и "забирают" всю боль и негативную энергию. Кошачье мурчание оказывает исцеляющее воздействие на нервную систему и даже, по некоторым данным, активизирует защитные силы человеческого организма. Слюна собаки обладает бактерицидными свойствами, поэтому четвероногие часто зализывают ссадины и раны людям.
    </p>
     <img src="{% static 'main/images/zv13.jpg' %}" width="1000" class="img-thumbnail">
    <p>Есть целая группа собак, именуемая поводырями. Их главная цель - помогать слепым и слабовидящим людям перемещаться вне помещений и избегать столкновений с предметами.
    </p>
    <img src="{% static 'main/images/zv14.jpg' %}" width="1000" class="img-thumbnail">
    <p>С появлением необходимости в защите люди стали дрессировать собак, делая из них охранников. Кроме того, животные на инстинктивном уровне предчувствуют опасность и пытаются донести это до людей.
   Животные помогают людям выражать глубокие чувства. Общаясь с ними, мы знаем, что всегда получим эмоциональную обратную связь. Домашние питомцы помогают нам удовлетворить потребность в заботе и опеке, с ними мы чувствуем себя более сильными, ведь их жизнь, их благополучие зависят только от нас. Лаская животное, мы успокаиваемся, если раздражены, потому что контакт с ним повышает окситоцин – гормон нежности и привязанности.
   Домашние питомцы помогают ребенку чувствовать себя уверенно в коллективе и приобрести настоящих друзей, что избавит ребенка от застенчивости или смущения. Игры с животным помогают развивать у детей координацию движений и быструю  реакцию. Рёбёнок со своим любимцем всегда чувствует себя уверенно и находится под защитой. А для маленьких детей собаки - это самые преданные няньки.
</p>
    <img src="{% static 'main/images/zv15.jpg' %}" width="1000"  class="img-thumbnail">
<div>
    <h4>Зоомагазины Златоуста</h4>
    <p>Чтобы преобрести себе верного друга, то посетите следущие зоомагазины Златоуста:</p>
<a href="https://2gis.ru/zlatoust/firm/70000001028633344" target="_blank">1. Зоомаркет</a><br>
<a href="https://2gis.ru/zlatoust/firm/70000001021453673" target="_blank">2. Аквастудия</a><br>
<a href="https://2gis.ru/zlatoust/firm/12244690768327217" target="_blank"з>3. Зоомир</a><br>
    <h4>Ветеренарные клиники города Златоуст</h4>
    <p>Если с вашим питомцем не всё в порядке, можете обратится в в клиники города Златоуста:</p>
    <a href="https://vk.com/zlatzveropolis" target="_blank">1. Зверополис</a><br>
    <a href="https://vetzlat.ru/" target="_blank">2. ОГБУ - Городская ветеринарная станция по борьбе с болезнями животных</a><br>
    <a href="https://2gis.ru/zlatoust/firm/70000001041084185" target="_blank">3. Ветеринарный кабинет</a><br>
</div>

{% endblock %}
